
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
      <p><%= f.label :'아이디'%><br />
      <%= f.text_field :username %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  
  <div class="field">
    <%= f.label :'새 비밀번호' %> <i>(6글자 이상 입력해 주세요)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :'새 비밀번호 확인' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  
  <div class="actions">
   <a class="waves-effect waves-light btn deep-orange lighten-2">
   <%= f.submit "변경하기" %></a>
  </div>
<% end %>
  <br>
  <a class="waves-effect waves-light btn grey" ><%= button_to "계정탈퇴하기", registration_path(resource_name), data: { confirm: "정말 탈퇴하실건가요?" }, method: :delete %></a>

