<div class="container" style="margin-top:50px">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
    <div class="field">
      <p><%= f.label :닉네임 %><br />
      <%= f.text_field :username, autofocus: true %></p>
    </div>
    
    <div class="field">
      <p><%= f.label :이름 %><br />
      <%= f.text_field :realname %></p>
    </div>
    
    <div class="field">
      <%= f.label :이메일 %>&nbsp;&nbsp;&nbsp;<em>xxx@sogang.ac.kr 형식으로 입력해주세요.</em><br />
      <%= f.email_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :비밀번호 %>
      <% if @minimum_password_length %>
      <em>최소 <%= @minimum_password_length %>자 입니다.</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label :비밀번호_확인 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="actions">
      <a class="waves-effect waves-light btn deep-orange lighten-2"><%= f.submit "가입하기", :onclick => "return validateform()" %></a>
    </div>
    <div class="field">
      <br>
      <p style="font-style:italic;">*가입하기를 누르시면 서강대 웹메일로 인증메일이 발송됩니다!</p><p style="font-style:italic;">*인증 링크를 누르셔야 가입이 완료됩니다!</p>
    </div>
  <% end %>
  
  
</div>

<script>
  function validateform() {
    var x = $('input#user_email').val();
    if (x.indexOf("@sogang.ac.kr") == -1)
    {
      alert("서강대 이메일로 가입해주세요");
      return false;}
    else
    {
      return true;}
    
}
</script>