<style>
    /* Edit by Yoon */
    #modal1 .slider,
    #modal1 .slider .slides {
      height: 100% !important;
    }
    #modal1 .slider .slides {
      background-color: #ffffff;
    }
    
    #modal1 .slider .slides li img {
      /* 100% -> contain */
      background-size: contain;
      background-repeat: no-repeat;   
    
    }
    #modal1 .modal-fixed-footer .modal-content .slider{
      height: 100% !important;
    }
    
    #modal1 .modal-fixed-footer .modal-content .slider .slides {
      background-color: #FFFFFF;
      height: 100% !important;
    }
 
    #modal1 .modal .modal-content{
      height:100%;
    }
    
    #modal1 .slider .slides li {
      overflow: auto;
    }
    #modal1 .slider .slides li img {
      height: auto;
    }
    
    #modal1 .slider .indicators {
      z-index: 100;
    }
  
</style>
<!-- side nav랑 search bar -->
<div class="row">
  
  <form class="col s12" style="height:73.5px;" action="/home/search">
    <div class="row">
      <a href="#" data-activates="slide-out" class="button-collapse col s1 left"><i class="material-icons" style="margin-top:10px; font-size:3.5rem; color:#e57373;">toc</i></a>
      <div class="input-field col s7 offset-s1" style="color:#e57373;">
        <i class="material-icons prefix" style="margin-top:5px; color:#e57373;">search</i>
        <input id="icon_prefix" type="text" class="validate" name="search">
        <label for="icon_prefix">Search</label>
      </div>
    </div>
  </form>
  
</div>
  
  <!-- Modal Trigger1 -->
  <a class="modal-trigger waves-effect btn" style="background-color:#e57373" href="#modal1">공지 사항</a>
    <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
       <div class="slider"  >
          <ul class="slides" >
            <li>
              <img src="<%=image_path("logo.png")%>"> 
            </li>
            <li>
              <img src="http://cfile29.uf.tistory.com/image/1203DC114B03F2D50558B8"> 
            </li>
            <li>
              <img src="<%=image_path("finished_pic.png")%>"> 
            </li>
          </ul>
       </div>
    </div>
    
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">확인</a>
    </div>
  </div>    

  


<div class="row" id="box-search" >
  <% @posts.each do |p| %>
    <div class="col-sm-6 col-md-4">
      <!-- change -->
      <div class = "thumbnail hovereffect">
        <% if p.post_images.count == 0 || p.post_images[0].avatar.url.nil? || p.finished == true %>
          <img class="img-responsive" src="<%=p.image_url%>">
        <% else %>
          <img class="img-responsive" src="<%= p.post_images[0].avatar.url%>" style="height:100%"> 
        <% end %>
         <div class="overlay">
           <h2><%=p.title%></h2>
           <a class="info" href="/view_each/<%=p.id%>">둘러보기</a>
        </div>
      </div>
    </div>
  <% end %>
</div>


 <div class="pagination" style="min-width:320px"> <%=paginate @posts, :window => 2%></div>


